<!--
	Launch file for testing purposes

	After launching this file, it is necessary to publish the
	acquisition command. This can be done as below:
	rostopic pub -1 /RH/cmd/acquire rh_cameras/CamerasSync '{timeStamp: now, data: full}'

	SoCS, UoG. Gerardo Aragon-Camarasa and Susanne B Oehler. August 2012 
-->

<launch>

	<!-- Include Robot Head parameter server configuration. -->
	<include file="$(find rh_launch)/launch/RH_parameters_$(optenv CLOPEMA_PARTNER error).launch" />
	<include file="$(find clopema_config)/launch/clopema_$(optenv CLOPEMA_PARTNER error).launch" />

	<node pkg="rh_cameras" type="RHcam_left" name="RH_camera_left" output="screen" machine="robothead_pc">
	</node>

	<node pkg="rh_cameras" type="RHcam_right" name="RH_camera_right" output="screen" machine="robothead_pc">
	</node>
	
	<node pkg="rh_vergence" type="RHvergence_simulation" name="RHvergence_simulation" output="screen">
	</node>
	
<!--	<param name="/RH/inputPTU" value="$(find rh_ptu)/src/RH_ptu_sim/input_ptu.xml" />-->
<!--	<node pkg="rh_ptu" type="RHptu_sim" name="RHptu_sim" output="screen" />-->

</launch>

